html, body {
    /* The universe takes up all available space */
    width: 100%;
    height: 100%;

    /* The universe is black */
    background-color: black;
    /*background: url("http://phosproject.com/wp-content/themes/phos_theme/images/7.jpg");
    background-size: cover;
    background-repeat: repeat;*/
}

#solar-system {
    position: relative;
    /*overflow: scroll;*/

    /*height: 100%;
    width: 100%;*/
    /* Positions the top-left corner of the image to be *
    /* in the middle of the box */
    top: 54%;
    left: 50%;

    /* Play with these numbers to see what it does */
    height: 100px;
    width: 100px;
}

#sun {
    top: 54%;
    left: 50%;
    /*position: absolute;*/

    height: 100px;
    width: 100px;

    -webkit-animation: spin-right 12s linear infinite;
     -moz-animation: spin-right 12s linear infinite;
      -ms-animation: spin-right 12s linear infinite;
       -o-animation: spin-right 12s linear infinite;
          animation: spin-right 12s linear infinite;

    /*margin-top: -100px;
    margin-left: -100px;*/

    /*border-color: orange;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;

    box-shadow: 0 0 64px yellow;*/
}

#mercury {
    /* Style your earth */
    position: absolute;
    top: 28.5%;
    left: 28.5%;

    height: 6px;
    width: 6px;
    margin-left: -25px;
    margin-top: -25px;

    -webkit-animation: spin-right 1s linear infinite;
     -moz-animation: spin-right 1s linear infinite;
      -ms-animation: spin-right 1s linear infinite;
       -o-animation: spin-right 1s linear infinite;
          animation: spin-right 1s linear infinite;
}

#mercury-orbit {
    /* For Section #2 */
    position: absolute;
    top: 50%;
    left: 50%;

    width: 160px;
    height: 160px;
    margin-top: -80px;
    margin-left: -80px;

    /*border-width: 1px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;*/

    -webkit-animation: spin-right 10s linear infinite;
     -moz-animation: spin-right 10s linear infinite;
      -ms-animation: spin-right 10s linear infinite;
       -o-animation: spin-right 10s linear infinite;
          animation: spin-right 10s linear infinite;
}

#venus {
    /* Style your earth */
    position: absolute;
    top: 23%;
    left: 23%;

    height: 7px;
    width: 7px;
    margin-left: -25px;
    margin-top: -25px;

    -webkit-animation: spin-right 1s linear infinite;
     -moz-animation: spin-right 1s linear infinite;
      -ms-animation: spin-right 1s linear infinite;
       -o-animation: spin-right 1s linear infinite;
          animation: spin-right 1s linear infinite;
}

#venus-orbit {
    /* For Section #2 */
    position: absolute;
    top: 50%;
    left: 50%;

    width: 250px;
    height: 250px;
    margin-top: -125px;
    margin-left: -125px;

    /*border-width: 1px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;*/

    -webkit-animation: spin-right 20s linear infinite;
     -moz-animation: spin-right 20s linear infinite;
      -ms-animation: spin-right 20s linear infinite;
       -o-animation: spin-right 20s linear infinite;
          animation: spin-right 20s linear infinite;
}

#earth {
    /* Style your earth */
    position: absolute;
    top: 18.4%;
    left: 18.4%;

    height: 10px;
    width: 10px;
    margin-left: -25px;
    margin-top: -25px;

    -webkit-animation: spin-right 1s linear infinite;
     -moz-animation: spin-right 1s linear infinite;
      -ms-animation: spin-right 1s linear infinite;
       -o-animation: spin-right 1s linear infinite;
          animation: spin-right 1s linear infinite;
}

#earth-orbit {
    /* For Section #2 */
    position: absolute;
    top: 50%;
    left: 50%;

    width: 500px;
    height: 500px;
    margin-top: -250px;
    margin-left: -250px;

    border-width: 1px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;

    -webkit-animation: spin-right 30s linear infinite;
     -moz-animation: spin-right 30s linear infinite;
      -ms-animation: spin-right 30s linear infinite;
       -o-animation: spin-right 30s linear infinite;
          animation: spin-right 30s linear infinite;
}

#moon {
    /* Style your earth */
    position: absolute;
    top: 74%;
    left: 74%;

    height: 2px;
    width: 2px;
    margin-left: -25px;
    margin-top: -25px;

    -webkit-animation: spin-right 3s linear infinite;
     -moz-animation: spin-right 3s linear infinite;
      -ms-animation: spin-right 3s linear infinite;
       -o-animation: spin-right 3s linear infinite;
          animation: spin-right 3s linear infinite;
}

#moon-orbit {
    /* For Section #2 */
    position: absolute;
    top: 50.2%;
    left: 50.2%;

    width: 40px;
    height: 40px;
    margin-top: -200px;
    margin-left: -200px;

    /*border-width: 1px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;*/

    -webkit-animation: spin-right 3s linear infinite;
     -moz-animation: spin-right 3s linear infinite;
      -ms-animation: spin-right 3s linear infinite;
       -o-animation: spin-right 3s linear infinite;
          animation: spin-right 3s linear infinite;
}

#mars {
    /* Style your earth */
    position: absolute;
    top: 16.8%;
    left: 16.8%;

    height: 9px;
    width: 9px;
    margin-left: -25px;
    margin-top: -25px;

    -webkit-animation: spin-right 1.4s linear infinite;
     -moz-animation: spin-right 1.4s linear infinite;
      -ms-animation: spin-right 1.4s linear infinite;
       -o-animation: spin-right 1.4s linear infinite;
          animation: spin-right 1.4s linear infinite;
}

#mars-orbit {
    /* For Section #2 */
    position: absolute;
    top: 50%;
    left: 50%;

    width: 900px;
    height: 900px;
    margin-top: -450px;
    margin-left: -450px;

    /*border-width: 1px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;*/

    -webkit-animation: spin-right 60s linear infinite;
     -moz-animation: spin-right 60s linear infinite;
      -ms-animation: spin-right 60s linear infinite;
       -o-animation: spin-right 60s linear infinite;
          animation: spin-right 60s linear infinite;
}

#jupiter {
    /* Style your earth */
    position: absolute;
    top: 15.3%;
    left: 15.3%;

    height: 30px;
    width: 30px;
    margin-left: -25px;
    margin-top: -25px;

    -webkit-animation: spin-right 5s linear infinite;
     -moz-animation: spin-right 5s linear infinite;
      -ms-animation: spin-right 5s linear infinite;
       -o-animation: spin-right 5s linear infinite;
          animation: spin-right 5s linear infinite;
}

#jupiter-orbit {
    /* For Section #2 */
    position: absolute;
    top: 50%;
    left: 50%;

    width: 1400px;
    height: 1400px;
    margin-top: -700px;
    margin-left: -700px;

    /*border-width: 2px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;*/

    -webkit-animation: spin-right 130s linear infinite;
     -moz-animation: spin-right 130s linear infinite;
      -ms-animation: spin-right 130s linear infinite;
       -o-animation: spin-right 130s linear infinite;
          animation: spin-right 130s linear infinite;
}

#saturn {
    /* Style your earth */
    position: absolute;
    top: 15.3%;
    left: 15.3%;

    height: 20px;
    width: 20px;
    margin-left: -25px;
    margin-top: -25px;

    -webkit-animation: spin-right 5s linear infinite;
     -moz-animation: spin-right 5s linear infinite;
      -ms-animation: spin-right 5s linear infinite;
       -o-animation: spin-right 5s linear infinite;
          animation: spin-right 5s linear infinite;
}

#saturn-orbit {
    /* For Section #2 */
    position: absolute;
    top: 50%;
    left: 50%;

    width: 2100px;
    height: 2100px;
    margin-top: -1050px;
    margin-left: -1050px;

    border-width: 2px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;

    -webkit-animation: spin-right 180s linear infinite;
     -moz-animation: spin-right 180s linear infinite;
      -ms-animation: spin-right 180s linear infinite;
       -o-animation: spin-right 180s linear infinite;
          animation: spin-right 180s linear infinite;
}

#uranus {
    /* Style your earth */
    position: absolute;
    top: 15.2%;
    left: 15.2%;

    height: 20px;
    width: 20px;
    margin-left: -25px;
    margin-top: -25px;

    -webkit-animation: spin-right 5s linear infinite;
     -moz-animation: spin-right 5s linear infinite;
      -ms-animation: spin-right 5s linear infinite;
       -o-animation: spin-right 5s linear infinite;
          animation: spin-right 5s linear infinite;
}

#uranus-orbit {
    /* For Section #2 */
    position: absolute;
    top: 50%;
    left: 50%;

    width: 2700px;
    height: 2700px;
    margin-top: -1350px;
    margin-left: -1350px;

    border-width: 2px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;

    -webkit-animation: spin-right 220s linear infinite;
     -moz-animation: spin-right 220s linear infinite;
      -ms-animation: spin-right 220s linear infinite;
       -o-animation: spin-right 220s linear infinite;
          animation: spin-right 220s linear infinite;
}

@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
